<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
            rel="stylesheet">
            </head>
    <body style = 'margin-top: 150px; background:cadetblue;'>
        <div class="container" align = 'center'>
            <div class="header" align = 'center'>
                <h3 class="text-muted" style="color:black">Upload Your Resume</h3>
            </div>
            <hr/>
            <div align = 'center'>

                <form action="upload" method="post" enctype="multipart/form-data">
                    <input type="file" name="file"><br /><br />
                        <input type="submit" value="Upload">
                            </form>
            </div>
        </div>
    </body>
</html>
