<!doctype html>
<title>Find a best match!</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style_lulu.css')}}'>
<div class=page>
  <h1>Help you save time on finding the right job!</h1>
  <div class=metanav>

<h4>
Please paste the job post links below.
</h4>

<form id='userinfoform_lulu' method='post' action='index_lulu' > <!-- action is the URL you want to move to next-->
   <p>
   Post 1: <input type='text' name='post1_lulu' />
   </p>
   <p>
   Post 2: <input type='text' name='post2_lulu' />
   </p>
   <p>
   Post 3: <input type='text' name='post3_lulu' />
   </p>
   <p>
   Post 4: <input type='text' name='post4_lulu' />
   </p>
   <p>
   Post 5: <input type='text' name='post5_lulu' />
   </p>
   <p>
   <input type='submit' value='Submit_lulu' /> <!-- value is the text that will appear on the button. -->
   </p>
</form>

</div>
</div>
