<!doctype html>
<head>

<title>Find a best match!</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style_lulu.css')}}'>
<!--<link rel=stylesheet type=text/css href=style_lulu.css> -->
</head>
<body>
<!-- class page is for form template in this case-->
<div class=page>  
     <h1>Help you save time on finding the right job!</h1>
     <div class=metanav>

         <h4>
         Please paste the job post links below.
         </h4>

         <form id='userinfoform_lulu' method='post' action='index_lulu' > <!-- action is the URL you want to move to next-->
            <p>
            Post 1: <input type='text' name='post1_lulu' />
            </p>
            <p>
            Post 2: <input type='text' name='post2_lulu' />
            </p>
           
            <p>
            <input type='submit' value='Submit' class="button"/> <!-- value is the text that will appear on the button. -->
            </p>
         </form>
      </div>

      

</div>

<div class="instruction">
<h4 >Instruction: Currently only accept Indeed Job posts.</h4>
</div>




</body>
